$color-grey-dark:#777;
$color-white: #fff;
$color-primary:rgba(0, 188, 212, 1);
$color-primary-light:rgba(0, 188, 212, 0.6);
$color-primary-dark:rgba(0, 188, 212, 0.8);
$color-black:#000;
$color-black-dark:rgba(0, 0, 0, 0.541);
$color-black-light:rgba(0, 0, 0, 0.233);

// FONT
$default-font-size: 1.6rem;

// GRID

$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;