.section-features{
    padding: 10rem 0;
    background-image: url(./img/hero-bg3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    // background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
}

.section-about{
    padding: 10rem 0;
    background-color: rgba(251, 249, 249, 0.986);

    .about__img-box{
        width: 100%;
        border:.5rem solid rgba($color-primary-light,.8);
        animation: changeBorder 4s linear infinite;
    }

    .about__img{
        width: 100%;
        transform: translate(4rem, 4rem);
        transition: transform .5s;
        
        &:hover{
            transform: translate(4rem, 4rem) scale(1.1);
        }
    }

    .about-right{
        background-image: linear-gradient(to right, transparent 50%, rgba($color-primary-dark,0.5) 50%);
        padding: 15rem 5rem;
        color: rgba($color-grey-dark,.8);
        

    }

    .about__text{
        font-size: 1.6rem;
        letter-spacing: 1px;
        word-spacing: 2px;
        animation: moveInRight 1s ease-out;
    }

}

.section-subscribe{
    padding: 20rem 1rem 15rem 1rem;
    background-image: url(img/bg-13.svg);
    background-size: cover;
    background-position: top;

    .subscribe__img-box{
        width: 100%;
        height: 40rem;
        text-align: center;
    }

    .subscribe__img{
        height: 100%;
        display: inline-block;
        animation: moveUpDown 4s linear infinite;
        transition: all .4s;
    }

    .subscribe__text{
        margin-top: 3rem;
        font-size: 1.5rem;
        line-height: 190%;
        width: 70%;
    }

    .btn-subscribe{
        margin-top: 7rem;
        box-shadow: 0 5px 10px rgba($color-grey-dark,.8);
    }
}