{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="section-form">
                <div class="row">
                    <div class="book">
                        <div class="book__form">
                            <form action="" method="POST" class="form">
                            <h2 class="heading-secondary">
                                        Create New Post
                                    </h2>
                            {% csrf_token %}
                                <div class="form__group">
                                    {{ form|crispy }}
                                </div>
                                <div class="form__group">
                                    <button type="submit" class="btn btn--green">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
{% endblock content %}